<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pinder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>911FE78B1E92BA4600BE9F3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>911FE79F1E92BA4600BE9F3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>911FE7AA1E92BA4600BE9F3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
